@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Anek Kannada');

:root {
  background-color: #151515;
  color: #FFFDF6;
  font-family: "Anek Kannada", sans-serif;
}

h1 {
  font-family: "Orbitron", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}