@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    -webkit-user-select: none;
    user-select: none;
}

.draggable {
    -webkit-app-region: drag;
}